<h1>You've added...</h1>

<p>Artist</p>
<p><%= @artists.name %></p>

<p>Album</p>
<p><%= @albums.name %></p>

<p>Format:</p>
<p><%= @stock.format %></p>

<p>Quantity:</p>
<p><%= @stock.stock_level %></p>

<p>Threshold:</p>
<p><%= @stock.threshold %></p>

<p>Buy Price:</p>
<p>£<%= @stock.buy_price %></p>

<p>Sell Price:</p>
<p>£<%= @stock.sell_price %></p>

<h1>...to your stock!</h1>