<h2>Stock List</h2>

<p>
<% @stocks.each do |stock|  %>
<% stock.albums.each do |album| %>
<% album.artists.each do |artist| %>
Artist - <%= artist.name %><br>
<b>Genre - </b><%= artist.genre %><br>
<% end %>
<% end %>

<% stock.albums.each do |album| %>
<b>Album name - </b> <%= album.name %><br>
<% end %>
<b>Format - </b><%= stock.format %><br>
<b>Quantity - </b><%= stock.stock_level %><br>
<b>Stock Check - </b><span style="<%= stock.stock_colour_code %>"> <%= stock.stock_check %></span></p><br>
<p><b>Price -</b> £<%= stock.sell_price %>.00<br>
<b>Profit -</b> £<%= stock.markup %>.00

</p>
<a href="/stock/<%= stock.id %>">View & Amend</a>
<hr>
<% end %>




