<h2>Stock List</h2>

<p>
<% @stocks.each do |stock|  %>
Artist: <br>
<% stock.albums.each do |album| %>
<% album.artists.each do |artist| %>
<%= artist.name %><br>
Genre:
<%= artist.genre %><br>
<% end %>
<% end %>

Album name:
<% stock.albums.each do |album| %>
<%= album.name %><br>
<% end %>


Format:
<%= stock.format %><br>

Quantity:
<%= stock.stock_level %><br>

Threshold:</p>
<p styles="color: <%= stock.stock_colour_code %>"><%= stock.stock_check %><br></p>

Stock Check:
<%= stock.buy_price %><br>

Sell price:
<%= stock.sell_price %><br>

</p>
<a href="/stock/<%= stock.id %>">View</a>
</form>
</form>
<hr>
<% end %>




