<h1>Album reference number: </h1>
<p><% @stock.album_id %></p>

<h1>Format</h1>
<p><%= @stock.format %></p>

<h1>Stock Level</h1>
<p><%= @stock.stock_level %></p>

<h1>Threshold</h1>
<p><%= @stock.threshold %></p>

<h1>Buy Price</h1>
<p>£<%= @stock.buy_price %></p>

<h1>Sell Price</h1>
<p>£<%= @stock.buy_price %></p>

<a href="/stock/<%= @stock.id %>/edit">Edit</a>

<form action="/stock/<%= @stock.id %>/delete" method="post">
  <input type="submit" value="delete">
</form>