<div class="center7">
<p><b>Album reference number - </b><%= @stock.album_id %></p>

<p><b>Format - </b><%= @stock.format %></p>

<p><b>Stock Level - </b><%= @stock.stock_level %></p>

<p><b>Threshold - </b><%= @stock.threshold %></p>

<p><b>Buy Price - </b>£<%= @stock.buy_price %></p>

<p><b>Sell Price - </b>£<%= @stock.buy_price %></p>
</div>

<div class="home-nav">
<a href="/stock/<%= @stock.id %>/edit">Edit</a>
</div>

<div class="center8">
<form action="/stock/<%= @stock.id %>/delete" method="post">
  <input type="submit" value="delete">
</form>
</div>