<h2>Album reference number: </h2>
<p><%= @stock.album_id %></p>

<h2>Format</h2>
<p><%= @stock.format %></p>

<h2>Stock Level</h2>
<p><%= @stock.stock_level %></p>

<h2>Threshold</h2>
<p><%= @stock.threshold %></p>

<h2>Buy Price</h2>
<p>£<%= @stock.buy_price %></p>

<h2>Sell Price</h2>
<p>£<%= @stock.buy_price %></p>

<form action="/stock/<%= @stock.id %>/edit" method="get">
  <input type="submit" value="edit">
</form>

<form action="/stock/<%= @stock.id %>/delete" method="post">
  <input type="submit" value="delete">
</form>